
/* COLORS */
$background-black: #171717;
$background-red: #b60000;

/* GRADIENT COLORS */
$gradientbg-black-red: linear-gradient(140deg, rgba(23,23,23,1) 30%, rgba(147,20,20,1) 80%, rgba(182,0,0,1) 100%);